@media screen and (min-width: 992px) {
    
    .cabecera{
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }
    .cabecera a {
        padding: 0 12px;
        font-family: "Arimo",sans-serif;
        font-size: 12px;
        text-decoration: none;
        line-height: 1;
        color: #000A2F;
    }
    .headerMidLogo {
        display: block;
        width: auto;
        height: auto;
    }
    .logoLeft {
        display: block;
        width: auto;
        height: auto;
    }
    .logoLeft button {
        background-color: #FFF;
    }
    .logoCenter {
        display: block;
        width: auto;
        height: auto;
        text-align: center;
    }
    .logoCenter img {
        width: 300px;
        height: 50px;
    }
    .logoRight {
        display: block;
        margin-left: 83%;
        width: auto;
        height: auto;  
    }
    .logoRight button {
        cursor: pointer;
        margin-bottom: 5px;
    }
    .btnSubs {
        width: 115px;
        height: 35px;
        border-style: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: .9rem;
        color: #FFF;
        background-color: #3B96FF;
    }
    .btnLogin {
        width: 90px;
        height: 35px;
        border-style: none;
        border-radius: 4px;
        border: 1px solid #a8aab3;
        font-weight: bold;
        font-size: .8rem;
        background-color: #FFF;
        color: #000000;
    }
    .navBar {
        padding: 0 30px;
        height: 50px;
        text-align: center;
        justify-content: center;
        background-color: #000A2F;
    }
    .navBar ul {
        max-width: 900px;
        height: 100%;
        margin: 0 auto;
    }
    .navBar li {
        display: list-item;
    }
    .navBar a {
        margin-left: 10px;
        font-family: "Noto serif",serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
        color: #FFF;
    }
    .noticiasTexto {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .noticiasTexto div {
        width: 200px;
    }
    .noticiasTexto a {
        margin-left: 50px;
        text-decoration: none;
    }
    .redesSociales {
        float: right;
        margin-right: 10px;
    }
    .redesSociales li {
        list-style: none;
    }

    h2 {
        margin-right: 35%;
    }
    .contenedorTexto {
        display: block;
        margin-right: 20%;
    }
    /* Etiquetas */
    .etiquetas {
        margin-top: 50px;
    }
    .etiquetas button {
        margin-left: 10px;
        
    }
    /* Pie de pagina */
    footer {
        display: block;
        width: auto;
        height: 5vh;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .contCentradoFooter {
        display: flex;
        width: 1500px;
        margin-top: 3rem;
        background-color: #000A2F;
    }

    .imgLista img {
        width: 185px;
        height: 60px;
    }

    .listFooter {
        margin-right: 50px;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .listFooter li {
        margin-top: 1rem;
        list-style: none;
    }

    .listFooter li a {
        font-family: "Arimo",sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        color: #FFF;
    }
}